<%- include('../essentials/adminHeader') %>
  <%- include('../essentials/adminLayout') %>


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Products</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/panel">Home</a></li>
          <li class="breadcrumb-item active">products</li>
        </ol>
      </nav>
      
      
    </div><!-- End Page Title -->
    <div class="d-flex"></div>
    <div class="col-md-12 d-flex justify-content-center">
      

      <form action="/admin/addproduct" method="post" enctype="multipart/form-data"
          class="card p-3 bg-light mb-3 text-dark">
          <div class="d-flex justify-content-center align-items-center">
            <select class="" id="category" name="Category" required
                style="width:38%;height: 35px;border-radius: 5px;margin-right: 4%;">
                <option value="" selected disabled>Select a category</option>
                <%cat.forEach((x) => {%>
                    <option><%=x.Name%></option>
                <%})%>
            </select>
          </div>
    
          <div class="form-group">
              <label for="productName">Product Name:</label>
              <input type="text" name="ProductName" class="form-control bg-light" id="productName"
                  placeholder="Enter product name" required />
          </div>
          
          <br>
          <div class="form-group">
              <label for="productDescription">Product Description:</label>
              <textarea class="form-control bg-light" name="Description" id="productDescription"
                  rows="4" placeholder="Enter product description" required></textarea>
          </div>
          <br>
          <div class="form-group">
              <label for="Specification1">Product Specification:</label>
              <textarea class="form-control bg-light" name="spec1"
                  id="Specification1" placeholder="Enter product Specification"
                  required></textarea>

          </div>
          <br>

          <div class=""> <!-- Added bg-light and text-center classes -->
              <h3>Media</h3>
              <div class="form-group my-2">
                  <label for="image1">Image 1:</label>
                  <input type="file" name="image1" class="form-control imageInput" id="image1"
                      accept="image/*" required/>
                  <img src="" alt="Image 1" class="img-fluid imagePreview"
                      style="max-height: 50px;width: auto;" id="imagePreview1">
              </div>
              <div class="form-group my-2">
                  <label for="image2">Image 2:</label>
                  <input type="file" name="image2" class="form-control imageInput" id="image2"
                      accept="image/*" required/>
                  <img src="" alt="Image 2" class="img-fluid imagePreview"
                      style="max-height: 50px;width: auto; " id="imagePreview2">
              </div>
              <div class="form-group my-2">
                  <label for="image3">Image 3:</label>
                  <input type="file" name="image3" class="form-control imageInput" id="image3"
                      accept="image/*" required/>
                  <img src="" alt="Image 3" class="img-fluid imagePreview"
                      style="max-height: 50px;width: auto; " id="imagePreview3">
              </div>
          </div>


          <div class="">
              <h2>Pricing</h2>
              <div class="form-group">
                  <label for="basePrice">Base Price:</label>
                  <input type="number" name="Price" class="form-control bg-light" id="basePrice"
                      placeholder="Enter base price" required />
              </div>
              <br>
              <div class="form-group">
                  <label for="discountAmount">Discount Amount:</label>
                  <input type="number" name="discount" class="form-control bg-light"
                      id="discountAmount" placeholder="Enter discount amount" required />
              </div>
          </div>

          <div class="">
              <h2>Stock</h2>

              <div class="form-group">
                  <label for="quantity">Quantity:</label>
                  <input type="number" name="stock" class="form-control bg-light"
                      id="quantity" placeholder="Enter quantity" required />
              </div>
          </div>
          <div class="d-flex justify-content-center mb-3">
            <button type="submit" class="btn btn-primary mt-3 mb-0">Add Product</button>
          </div>

    </div>
    
    <!-- ======= Footer ======= -->
    

    


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

 
  <!-- Template Main JS File -->
 
<%- include('../essentials/adminFooter') %>