<%- include('../essentials/userHeader') %>


  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <div class="container login-container">
    <div class="login-form">
        <h2>Admin Login</h2>
        <form action="/admin/login" method="post" id="add-form">
            <div class="form-group">
              <label for="adminname">Admin Id</label>
              <input type="email" name="adminname" class="input-text" placeholder="Enter your name" required>
            </div>
            <div class="form-group">
              <label for="email">Password</label>
              <input type="password" name="password" class="input-text" placeholder="Enter password" required>
            </div>
            
            <button type="submit" class="btn btn-primary login-btn">Log In</button>
            
        </form>
    </div>
  </div>

  <script src="/js/formValidation.js" defer></script>


  <%- include('../essentials/userFooter') %>

</body>
</html>