body {

  background-size: 100%;
  color: white;
}

.login-container {
  max-width: 400px;
  margin: auto;
  margin-top: 150px;
}

.login-form {
  background-color:rgba(255, 255, 255, 0.7);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  color: black;
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  color: black;
}


.input-text{
  color: rgb(0, 0, 0);
}

.form-group input {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}

.form-group input:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.login-btn {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

.login-btn:hover {
  background-color: #0056b3;
}