<%- include('../essentials/userHeader') %>


  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <header id="header" class="header fixed-top d-flex align-items-center bg-black " style="height: 90px;">

    <div class="d-flex align-items-center justify-content-between ms-4 ">
      <div class="col-lg-4  d-flex align-items-center ">
        <a href="/user/homepage" class="text-decoration-none">
          <span class="h2 text-uppercase text-warning bg-dark px-2">WAVE</span>
          <span class="h2 text-uppercase text-dark bg-warning px-2 ml-n1">ELECTRONICS</span>
        </a>
        
      </div>
      
    </div><!-- End Logo -->

 

    

  </header>
  <div class="container login-container bg-white ">
    <div class="login-form">
        <h2>Sign Up</h2>
        <form action="/user/signup" method="post" id="add-form" onsubmit="return validateForm()">
            <div class="form-group mb-2">
              <label for="name">Username:</label>
              <input type="text" name="name" class="input-text" placeholder="Enter your username" required oninput="validateName(this)">
              <small class="text-danger" id="nameError"></small>
            </div>
            <div class="form-group mb-2">
              <label for="email">Email</label>
              <input type="email" name="email" class="input-text" placeholder="Enter email" required oninput="validateEmail(this)">
              <small class="text-danger" id="emailError"></small>
            </div>
            <div class="form-group mb-2">
              <label for="phone">Phone</label>
              <input type="tel" name="phone" class="input-text" placeholder="Enter Phone" pattern="[0-9]{10}" required oninput="validatePhone(this)">
              <small class="text-danger" id="phoneError"></small>
            </div>
            <div class="form-group mb-4">
              <label for="password">Password:</label>
              <input type="password" name="password" class="input-text" placeholder="Enter your password" required minlength="8" oninput="validatePassword(this)">
            </div>
            
            <%if(message){%>
              <div class="text-white text-center">
                  <p class="test text-danger"><%= message.message %></p>
              </div>
            <%}%>

            
            <button type="submit" class="btn btn-primary rounded-0 login-btn" data-mdb-ripple-init>Sign Up</button>
            <div class="register-link mt-4 mb-2">
                <p class="text-black mb-2">Already have an account? &nbsp;&nbsp;<a href="/user/login">Sign In</a></p>
            </div>
        </form>
    </div>
  </div>
 

<script src="/js/formValidation.js"></script>

  <%- include('../essentials/userFooter') %>

</body>
</html>