<%- include('../essentials/userHeader') %>

  <link rel="stylesheet" href="/css/otp.css">
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <%- include('../essentials/loader') %>
  <header id="header" class="header fixed-top d-flex align-items-center bg-black " style="height: 90px;">

    <div class="d-flex align-items-center justify-content-between ms-4 ">
      <div class="col-lg-4  d-flex align-items-center ">
        <a href="/" class="text-decoration-none">
          <span class="h2 text-uppercase text-warning bg-dark px-2">WAVE</span>
          <span class="h2 text-uppercase text-dark bg-warning px-2 ml-n1">ELECTRONICS</span>
        </a>
        
      </div>
      
    </div><!-- End Logo -->

  </header>

  <main>
    <div class="container login-container bg-white ">
      <div class="login-form">
        <h2>Sign Up</h2>
        <form id="signup-form">
          <div class="form-group mb-2">
            <label for="name-input">Username:</label>
            <input id="name-input" type="text" name="name" class="input-text" placeholder="Enter your username" required />
            <small class="text-danger" id="nameError"></small>
          </div>
          <div class="form-group mb-2">
            <label for="email-input">Email</label>
            <input id="email-input" type="email" name="email" class="input-text" placeholder="Enter email" required />
            <small class="text-danger" id="emailError"></small>
          </div>
          <div class="form-group mb-2">
            <label for="phone-input">Phone</label>
            <input id="phone-input" type="tel" name="phone" class="input-text" placeholder="Enter Phone" pattern="[0-9]{10}"
              required />
            <small class="text-danger" id="phoneError"></small>
          </div>
          <div class="form-group mb-4">
            <label for="password-input">Password:</label>
            <input id="password-input" type="password" name="password" class="input-text" placeholder="Enter your password"
              required minlength="8" />
            <small class="text-danger" id="passwordError"></small>
          </div>
    
          <button type="submit" class="btn btn-primary rounded-0 w-100" id="signup-button" data-mdb-ripple-init>Sign
            Up</button>
          <div class="register-link mt-4 mb-2">
            <p class="text-black mb-2">Already have an account? &nbsp;&nbsp;<a href="/user/login">Sign In</a></p>
          </div>
        </form>
      </div>
    </div>

    <!-- ===== Otp modal ======== -->

      <div class="modal fade" id="otpModal" tabindex="-1" aria-labelledby="otpModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Type Your OTP here</h5>
              <button type="button" class="btn-close" data-mdb-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <form id="otp-form">
                <div class="otp-field mb-4">
                  <input type="text" maxlength="1" pattern="\d" inputmode="numeric">
                  <input type="text" maxlength="1" pattern="\d" inputmode="numeric" disabled>
                  <input type="text" maxlength="1" pattern="\d" inputmode="numeric" disabled>
                  <input type="text" maxlength="1" pattern="\d" inputmode="numeric" disabled>
                </div>
                <div class="d-flex justify-content-center">
                  <button type="submit" id="otp-button" class="btn btn-primary mb-3">Verify</button>
                </div>
              </form>
              <div class="d-flex justify-content-center">
                <p class="resend text-muted mb-0">
                  Didn't receive code? <a href="/user/resendotp">Request again</a>
                </p>
              </div>
              
            </div>
          </div>
        </div>
      </div>

  </main>
  
<%- include('../essentials/footer') %>

<script type="module" src="/js/formValidation.js" defer></script>

  <%- include('../essentials/userFooter') %>

</body>
</html>