<%- include('../essentials/userHeader') %>
  
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <header id="header" class="header fixed-top d-flex align-items-center bg-black " style="height: 90px;">

    <div class="d-flex align-items-center justify-content-between ms-3 ">
      <div class="col-lg-4  d-flex align-items-center">
        <a href="/user/homepage" class="text-decoration-none">
          <span class="h2 text-uppercase text-warning bg-dark px-2">WAVE</span>
          <span class="h2 text-uppercase text-dark bg-warning px-2 ml-n1">ELECTRONICS</span>
        </a>
        
      </div>
      
    </div><!-- End Logo -->

 

    

  </header>  


  <div class="container login-container">
    <div class="login-form">
        <h2>Login</h2>
        <form action="/user/login" method="post" id="add-form">
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="email" id="username" name="username" class="input-text" placeholder="Enter your username" required>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" id="password" name="password" class="input-text" placeholder="Enter your password" required>
            </div>
            <div class="register-link">
              <p class="text-black mt-1 ">Don't have an account? &nbsp;&nbsp;<a href="/user/signup">Register</a></p>
            </div>
            

            <%if(message){%>
              <div class="text-white text-center">
                  <p class="test text-danger"><%= message.message %></p>
              </div>
            <%}%>

            
            <button type="submit" class="btn btn-primary login-btn">Sign in</button>
        </form>
    </div>
  </div>

<script src="/js/formValidation.js" defer></script>


  <%- include('../essentials/userFooter') %>
</body>
</html>